* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Font" ;
  src: url( /font/GothamLight.ttf) ;
}

body {
  background-color: #1a1a1a;
  height: 100vh;
  color: #ffffff;
  font-family: Font ;
  .link__view{
    text-decoration: none;
    color: grey;
    float: right;
    position: relative;
    top: -1rem;
    right: 6.5rem;
    &:hover{
        text-decoration: underline;
    }
  }
  main {
    .sup,
    .inf {
      .grid {
        display: grid;
        grid-template-columns: repeat(6, minmax(150px, 1fr));
        grid-template-rows: auto;
        grid-template-areas: " card1 card2 card3 card4 card5 card6 ";

        .move {
          picture {
            width: 100%;
            height: 100%;
            position: relative;

            transition: all 0.3s;
            /* background-color: yellow; */
          }
          .move__play {
            transition: all 1s;
            opacity: 1;
            z-index: 4;
            position: relative;
            /*   top: 7.375rem; */
            bottom: -6.25rem;
            float: right;
            right: 1.2rem;

            max-height: 1.875rem;
            max-width: 1.875rem;
          }

          margin: 10px;
          /* display: block; */

          /* height: fit-content; */
          text-decoration: none;
          max-width: 210px;
          min-width: 150px;

          .card {
            z-index: 4;
            background: #181818;
            background: linear-gradient(
              184deg,
              rgb(18, 18, 18) 1%,
              rgba(32, 32, 32, 1) 35%
            );
            text-align: center;
            position: relative;
            /*  display: flexbox;
           content: "";
           height: 100%; */
            max-width: 210px;
            min-width: 150px;
            /* height: fit-content; */
            border-radius: 0.625rem;
            &:hover {
              position: relative;
              z-index: 0;
              background: #181818;
              background: linear-gradient(
                184deg,
                rgb(28, 28, 28, 1) 1%,
                rgba(29, 29, 29, 1) 35%
              );

              box-shadow: 4px 4px 4px #181818;
              transition: ease-in 0.5s;
            }

            .img__card {
              .img__card__album {
                position: relative;
                top: -1rem;

                max-width: 90%;
                min-width: 80%;
                display: flex;

                left: 0.625rem;

                position: relative;

                border-radius: 0.625rem;
              }
            }
          }
        }
        .card__text {
          width: 100%;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: auto;

          color: white;
          margin-top: -0.5rem;
          padding-bottom: 0.625rem;
          .card__text__h3 {
            width: 100%;
            font-size: 1rem;
            font-family: Font;
            
          }
          .card__text__p {
            font-family: Font ;
            width: 100%;
            font-size: 0.8rem;
            color: #9d9d9d;
          }
        }
      }
    }
  }
}
#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
#card4 {
  grid-area: card4;
}
#card5 {
  grid-area: card5;
}
#card6 {
  grid-area: card6;
}
@media screen and (max-width: 925px) {
  #grid {
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card6 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 780px) {
  #grid {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card5 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 630px) {
  #grid {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card4 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 470px) {
  #grid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card3 {
    display: none;
    visibility: hidden;
  }
  .link__view{
    right: 2rem;
  }
}
