.link__view {
  text-decoration: none;
  color: grey;
  float: right;
  position: relative;
  top: -1rem;
  right: 6.5rem;
}
.link__view:hover {
  text-decoration: underline;
}

main {
  background-color: #1a1a1a;
  margin-left: 10px;
  width: 88%;
  max-height: 100%;
}
main .sup .grid,
main .inf .grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(20px, 1fr));
  grid-template-rows: auto;
  grid-template-areas: " card1 card2 card3 card4 card5 card6 ";
}
main .sup .grid .sup,
main .inf .grid .sup {
  margin-left: 12%;
}
main .sup .grid .move,
main .inf .grid .move {
  transition: ease-in 3s;
  margin: 10px;
  /* display: block; */
  /* height: fit-content; */
  text-decoration: none;
  max-width: 210px;
  min-width: 150px;
}
main .sup .grid .move .picture,
main .inf .grid .move .picture {
  position: relative;
  transition: ease-in 0.3s;
  /*  background-color: yellow; */
}
main .sup .grid .move .move__play,
main .inf .grid .move .move__play {
  transition: all 1s;
  opacity: 1;
  z-index: 4;
  position: relative;
  /*   top: 7.375rem; */
  bottom: -6.25rem;
  float: right;
  right: 1.2rem;
  max-height: 1.875rem;
  max-width: 1.875rem;
}
main .sup .grid .move .card,
main .inf .grid .move .card {
  z-index: 4;
  background: #171717;
  text-align: center;
  position: relative;
  /*  display: flexbox;
  content: "";
  height: 100%; */
  max-width: 210px;
  min-width: 150px;
  min-height: 250px;
  /* height: fit-content; */
  border-radius: 0.625rem;
}
main .sup .grid .move .card:hover,
main .inf .grid .move .card:hover {
  position: relative;
  z-index: 0;
  transform: translateY(1px);
  background: #242424;
  box-shadow: 4px 4px 4px #181818;
  transition: ease-in 0.3s;
}
main .sup .grid .move .card .img__card .img__card__album,
main .inf .grid .move .card .img__card .img__card__album {
  position: relative;
  top: -1rem;
  max-width: 90%;
  min-width: 80%;
  display: flex;
  left: 0.625rem;
  position: relative;
  border-radius: 0.625rem;
}
main .sup .grid .card__text,
main .inf .grid .card__text {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  text-align: left;
  color: white;
  margin-top: -0.5rem;
  padding: 0.625rem;
  padding-bottom: 0.625rem;
}
main .sup .grid .card__text .card__text__h3,
main .inf .grid .card__text .card__text__h3 {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-family: Font;
}
main .sup .grid .card__text .card__text__p,
main .inf .grid .card__text .card__text__p {
  font-family: Font;
  width: 100%;
  font-size: 0.7rem;
  color: #9d9d9d;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

#card4 {
  grid-area: card4;
}

#card5 {
  grid-area: card5;
}

#card6 {
  grid-area: card6;
}

@media screen and (max-width: 925px) {
  #grid {
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card6 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 780px) {
  #grid {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card5 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 630px) {
  #grid {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card4 {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 470px) {
  #grid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-areas: " card1 card2 card3 card4 card5 ";
  }
  #card3 {
    display: none;
    visibility: hidden;
  }
  .link__view {
    right: 2rem;
  }
}/*# sourceMappingURL=style_main.css.map */