aside{
    height:100%;
    min-width:260px;
    display: flex;
    flex-direction: column;
    background-color:black;
        .logo{
            .logo__img{
                height:3rem;
                width:100%;
                object-fit:contain; 
                margin-top:1.5rem
            }
    }
    .firstlist{
        margin-top:4rem;
        margin-left:1rem;
        list-style:none;
    }
    .secondlist{
        margin-top:3rem;
        margin-left:1rem;
        list-style:none;
        .alone{
            fill: black;
        }
    }
    .outside__home,.outside__search,.outside__library,.outside__playlist,.outside__song{
        
        color: white;
        display: flex;
        align-items: center;
        gap:1rem;
        margin-top:1rem;
        margin-left:1rem;
        opacity:0.7;

        
        
    }
    svg{
        fill: white;
    }
    
    .sidebar__list{
        text-decoration: none;
        list-style:none;
        
    }
    .outside__playlist__svg{
        background-color:white;
        height:24px;
        width:24px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .outside__song__svg{
        background: linear-gradient(135deg,#450af5,#c4efd9);
        height:24px;
        width:24px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
}

.outside__home:hover,.outside__search:hover,.outside__library:hover
,.outside__playlist:hover,.outside__song:hover{
    color:white;
    opacity:1;
}
